Package: com.lizynz.hidestories
Name: Hide Stories
Version: 0.0.1
Architecture: iphoneos-arm
Description: Скрывает баннер "истории" с новостной ленты
Depiction: https://lizynz.github.io/depictions/?p=com.lizynz.hidestories
Maintainer: Lizynz
Author: Lizynz
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
